<%= form_for @project do |f|%>
    <%= f.label :project_name%>
    <%= f.text_field :name %>
    
    <%= f.label :git_url %>
    <%= f.text_field :git_url %>
    
    <%= f.label :live_demo_url %>
    <%= f.text_field :demo_url %>
    
    <%= f.label :description %>
    <%= f.text_area :description %>
    
    <div class="inputlabel">
        <%= f.label :Upload_the_project_image %>
        <%= f.file_field :image %>
    </div>    </div>
    
    <%= f.submit class:"btn btn-primary" %>
<% end %>